.Aboutus {
  background: #ff718773;
  padding: 1rem 0;
  /* box-shadow: 0 1px 5px 10px; */
  height: 100vh;
  z-index: 2;
  overflow: hidden;
}

.Aboutus h1 {
  text-align: center;
  font-size: 4rem;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 6rem;
}
.aboutusmain {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
.aboutuscontent p {
  font-size: 27px;
  font-weight: bold;
  color: indianred;
  margin-top: -5rem;
}
.aboutusimg img {
  width: 14rem;
}
